/*  sketch divs:
    - border width 1
    - border color black
    - no padding
    - no margin
    - flexboxed and take 1/16 of 
    - height and width of 
    - container div
*/

/*  container
    - positioned at the center 
    of the screen
        - 'display: flex'
    - flexboxed and take 50% 
    of window's height and width
*/

/*  margins still work in flexbox
    just like they did in the CSS
    box model, so auto margins have
    special meaning in flexbox

    https://www.joshwcomeau.com/css/interactive-guide-to-flexbox/
*/
body {
    padding: 40px;
    background-color: black;
}

#grid {
display: flex;
flex-direction: column;
height: 50vh;
width: 50vh;
margin: auto;
}
    
.row {
display: flex;
flex: 1;
}

.column {
flex: 1;
background-Color: white;
}

